.Articule-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  
}

.FeaturePage-blurb {
  
    min-width: 600px;

}

@media only screen and (max-width: 1100px) {

    .Articule-container {
        flex-direction: row;
    }

}

@media only screen and (max-width: 1000px) {

    .Articule-container {
        flex-wrap: wrap;
    }

}