.Footer-container {
    width: 100%; 
    padding-top: 40px;
    display: flex;
    justify-content: center;
    min-width: 600px;
 
}

.Footer-link {
    width: 50px;
    padding: 10px;
    margin: 0 auto;
    
} 

